body {
    text-align: center;
    background: #222;
    color: white;
    font-family: sans-serif;
}

canvas {
    background: #444;
    margin-top: 20px;
    border: 2px solid white;
}
#messageBox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    transition: opacity 0.4s ease;
}

#messageBox.show {
    opacity: 1;
}

#messageText {
    background: #222;
    padding: 30px 50px;
    border-radius: 12px;
    font-size: 48px;
    color: white;
    border: 3px solid white;
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
}
.hidden {
    display: none;
}
